<div class="row">
    <div class="col-4 col-lg-4">
        <p class="labelp">Выберите файл</p>
    </div>
    <div class="col-8 col-lg-8">
        <input type="file" name="upload" /><br>
        <input type="submit" value="Загрузить" />
    </div>
</div>
