@using CityStations.Models
@model CityStations.Models.SearchBlockPartViewModel
<div class="card">
    <div class="card-header">
        <div class="col-lg-12 col-12">
            <div class="row">
                <div class=" col-lg-12 col-12">
                    <h4 class="card-title">Остановки города</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-4 filter-block">
                    @using (Ajax.BeginForm("SearchBlockPartBody", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "searchBlockPartBodyId"
                    }))
                    {
                        @Html.AntiForgeryToken();
                        <span><span class="filters-text">Только активные </span>@Html.CheckBox("onlyActive", Model?.OnlyActiveStations ?? false,new { onchange="setClickCheckBoxOnlyActivateStations(this)" })</span>
                        <button id="buttonSetSubmitOnSelectOnlyActivateStations" type="submit" hidden ></button>
                    }
                </div>
                <div class="col-lg-4 col-4 filter-block">
                    <p class="filters-text">Группировка по району</p>
                </div>
                <div class="col-lg-4 col-4 filter-block">
                    <p class="filters-text">Сортировка по </p>
                </div>
            </div>
        </div>
    </div>
    <div id="searchBlockPartBodyId" class="card-body">
        @Html.Partial("SearchBlockPartBody", Model.StationModels ?? new List<StationModel>(), ViewData)
    </div>
    @using (Ajax.BeginForm("SelectStation", "Home", new { }, new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "wrapper",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "reloadAllContentTriggerGo"
    }))
    {
        @Html.AntiForgeryToken()
        <button id="selectStationButton" type="submit" hidden style="display: none;"></button>
        <input id="selectStationId" name="stationId" type="text" value="" hidden />
    }
</div>


