@{
    ViewBag.Title = "Предупреждение!";
}

<div class="row">
    <div class="col-md-12">
        <h2>Уважаемый посетитель!</h2>
        <p class="danger">
            Данная интернет страница является системой администрирования информационных табло, размещенных на остановках общественного транспорта г. Уфа и предназначена непосредственно для администратора данной системы, яваляющегося сотрудником ООО "Солнечный круг". Если Вы не имеете доступа к данной системе, просьба покинуть данный интернет ресурс.
        </p>        
    </div>
</div>